.MenuItem {
    margin-left: 1rem;
    cursor: pointer;
    display: block;
    color: #004B7C;
}

.MenuItem a {
    text-decoration: none;
    display: block;
    color: #004B7C;
    width: 100%;
}

.MenuItem a.active {

}