.Label {
    cursor: default;
    color: #fff;
    background-color: #004B7C;
    padding: .375rem .75rem;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .7rem;
    margin-left: 0.5rem;
}